* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
}

header {
  display: flex;
  padding: 1.2rem 5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px gray;
}

main {
  padding: 2rem;
}
.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.country {
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

.country:hover {
  transform: scale(1.02);
}

.country img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flag-text {
  padding: 1.5rem 1rem;
}

.three-text-flag {
  margin-top: 0.5rem;
}

.darkActive {
  background-color: black;
  color: white;
}
.darkActive .country {
  background-color: #1e1e1e;
  color: white;
}

.darkMode {
  user-select: none;
  cursor: pointer;
}

.search-filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.search-container {
  width: 40%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  width: 40%;
  align-items: center;
padding: 0 10px;
  color: #323232;

}

.search-container input {
  font-size: 0.8rem; 
  padding: 10px;    
  width: 100%;
  border: none;
  outline: none;

}

.search-container i {
  margin-right: 10px;
}

.filter-by-region {
  width: 200px;
  padding: 0 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.darkActive .search-container {
  background-color: rgb(212, 212, 212);
  border-radius: 15px;
}

.darkActive .search-container input {
  background-color: rgb(212, 212, 212);
  border-radius: 15px;
}

.darkActive .filter-by-region {
  border-radius: 5px;
}
